/*General Style Settings ---        START*/

/* red color: #b50603
*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --main_black_background_color: #000000;
    --white_background_color: #ffffff;
    --red_background_color: #b50603;
    --main_white_text_color: #ffffff;
    --black_text_color: #000000;
    --red_text_color: #b50603;
}

body
{
    color: var(--main_white_text_color);
    background-color: var(--main_black_background_color);
    max-width: 100%;
    font-family: Impact, sans-serif, 'Marck Script', 'FontAwesome';
    letter-spacing: 0.03rem;
}

.marck_script_words
{
    font-family: 'Marck Script';
}

.all_uppercase_words
{
    text-transform: uppercase;
}

.underlined_words
{
    text-decoration: underline;
}

.red_background_words
{
    background-color: var(--red_background_color);
}

.red_text
{
    color: var(--red_text_color);
}

.mobile_display_only
{
    display: none;
}

/*General Style Settings ---        END*/

/*Header Settings ---       START*/

header
{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

header > nav > ul                         
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

header > nav > ul > li > a, header > nav > ul > li > div > div > a
{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: inherit;
    letter-spacing: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: var(--red_background_color);
}

#top_nav
{
    margin-top: 100px;
}

#top_nav > ul > li > a, #top_nav > ul > li > div > div > a
{
    padding: 3.5px 0;
}

#bottom_nav 
{
    background: none;
}

.header_empty_item
{
    opacity: 0;
    display: none;
}

#header_contact_link.drop_down_content > a
{
    padding: 5.5px 0;
    background-color: var(--red_background_color);
}

#header_contact_link.current_page_active > a, header > nav > ul > li > a:hover, #header_contact_link > a:hover, header > nav > ul > li > div > div > a:hover
{
    background-color: var(--main_black_background_color);
    color:var(--red_text_color);
    transition-property: var(--main_black_background_color), var(--red_text_color);
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.drop_down_hover #header_contact_link.drop_down_content, .drop_down_hover #header_contact_link.drop_down_content > a
{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: var(--main_white_text_color);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    font-size: 1.1rem;
}

.drop_down_hover:hover #header_contact_link.drop_down_content, .drop_down_hover:hover #header_contact_link.drop_down_content > a
{
    visibility: visible;
    transition-duration: 0.3s;
}

.drop_down_hover:hover #header_contact_link.drop_down_content > a, .drop_down_hover #header_contact_link.drop_down_content > a
{
    background-color: var(--red_background_color);
    text-decoration: none;
    padding: 7px 0;
}

.drop_down_hover:hover #header_contact_link.drop_down_content > a:hover
{
    background-color: var(--main_black_background_color);
    color:var(--red_text_color);
    transition-property: var(--main_black_background_color), var(--red_text_color);
    transition-duration: 0.3s;
    transition-timing-function: ease-out; 
}

.drop_down_hover:hover #header_contact_link.drop_down_content, .drop_down_hover #header_contact_link.drop_down_content
{
    margin-top: 8px;
}

#bottom_nav
{
    visibility: hidden;
}


.current_page_active a, #bottom_nav > ul > #header_contact_link.drop_down_content.current_page_active > a
{
    background-color: var(--main_black_background_color);
    color:var(--red_text_color);
}

/*Header Settings ---       END*/

/*Footer Settings ---       START*/

footer
{
    font-family: sans-serif;
    max-width: 1100px;
    max-height: 76px;
    margin: 32px auto 50px auto;
}

#footer_div_left
{
    display: inline-block;
    margin-left: 100px;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.4rem;
    font-size: 0.75rem;
    font-weight: 500;
}

#footer_div_right
{
    display: inline-block;
    margin-left: 290px;
}

/*Footer Settings ---       END*/

/*Home Style Settings ---       START*/

/*Home Top Div*/

#home_top_div
{
    display: grid;
    background-color: none;
    max-width: 980px;
    margin-top: -44px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: -1;
    position: relative;
}

#home_top_div > h1
{
    background-color: var(--red_background_color);
    z-index: 4;
    max-width: 270px;
    max-height: 128px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border: none;
    padding: 24px 0 30px 16px;
    margin-top: 236px;
    margin-bottom: auto;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    font-size: 2.04rem;
    line-height: 2.2rem;
    font-weight: 500;
}

#home_top_div > img
{
    display: block;
    z-index: 2;
    max-width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#home_top_div > #red_box_shadows
{
    z-index: 3;
    width: 290px;
    max-width: 100%;
    margin: 364px 0 0 -10px;
}

/*Home Bottom Div*/

#home_bottom_div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 825px;
    max-height: 395px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -358px;
    column-gap: 8px;
    padding: 8px;
    background-color: var(--red_background_color);
    z-index: 4;
}

#home_bottom_div_left, #home_bottom_div_middle, #home_bottom_div_right
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#home_bottom_div_left > h2, #home_bottom_div_left > p, #home_bottom_div_left > img, #home_bottom_div_left > a, #home_bottom_div_middle > h2, #home_bottom_div_middle > p, #home_bottom_div_middle > img, #home_bottom_div_middle > a,   #home_bottom_div_right > h2, #home_bottom_div_right > p, #home_bottom_div_right > img, #home_bottom_div_right > a
{
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#home_bottom_div_left > h2, #home_bottom_div_middle > h2, #home_bottom_div_right > h2
{
    z-index: 5;
    text-transform: uppercase;
    font-size: 3rem;
    padding-top: 10px;
    padding-left: 10px;
}

/*Specific change to #home_bottom_div_middle > h2*/

#home_bottom_div_middle > h2
{
    color: var(--red_text_color);
}

#home_bottom_div_left > p, #home_bottom_div_middle > p, #home_bottom_div_right > p
{
    z-index: 5;
    font-family: sans-serif;
    color: var(--black_text_color);
    word-spacing: 0rem;
    letter-spacing: 0;
    font-size: 0.71rem;
    line-height: 1.1rem;
    padding-top: 72px;
    padding-right: 100px;
    padding-left: 10px;
    width: 100%;
    max-width: 100%;
}

/*Specific changes to #home_bottom_div_middle > p and #home_bottom_div_right > p*/

#home_bottom_div_middle > p, #home_bottom_div_right > p
{
    padding-right: 32px;
}

#home_bottom_div_left > img, #home_bottom_div_middle > img, #home_bottom_div_right > img
{
    z-index: 4;
    width: 100%;
    max-width: 100%;
} 

#home_bottom_div_left > a, #home_bottom_div_middle > a, #home_bottom_div_right > a
{
    z-index: 5;
    justify-self: right;
    margin-top: 326px;
    margin-bottom: auto;
    margin-right: 14px;
    text-decoration: none;
    font-family: sans-serif;
    color: var(--main_white_text_color);
    letter-spacing: 0;
    font-size: 0.75rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: var(--red_background_color);
    padding: 8px 16px;
}

#home_bottom_div_left > a:hover, #home_bottom_div_middle > a:hover, #home_bottom_div_right > a:hover
{
    background-color: var(--white_background_color);
    color: var(--black_text_color);
    cursor: pointer;
}

/*Home Style Settings ---       END --- About Style Settings ---        START*/

/*About Top Div*/

#about_top_div
{
    display: grid;
    background-color: none;
    max-width: 980px;
    margin-top: -44px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: -1;
    position: relative;
}

#about_top_div > h1
{
    background-color: var(--red_background_color);
    z-index: 4;
    max-width: 270px;
    max-height: 128px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border: none;
    padding: 24px 0 24px 16px;
    margin-top: 77px;
    margin-bottom: auto;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    font-size: 2.04rem;
    line-height: 2.2rem;
    font-weight: 500;
}

#about_top_div > img
{
    z-index: 2;
    max-width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#about_top_div > #red_box_shadows
{
    z-index: 3;
    width: 290px;
    max-width: 100%;
    margin: 199px 0 0 -10px;
}

/*About Bottom Div*/

#about_bottom_div
{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 22px;
    max-width: 840px;
    margin: -225px auto 0 auto;
}

#about_bottom_div > div > div > h2
{
    font-size: 3.1rem;
    letter-spacing: 0;
    word-spacing: 0;
}

#about_bottom_div > div > div > h3
{
    font-size: 2.1rem;
    letter-spacing: 0;
    margin-top: -8px;
}

#about_bottom_div > div > img
{
    margin-top: 52px;
}

#about_bottom_div > div > p
{
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    max-width: 455px;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 1.15rem;
}

#about_bottom_div > div > p:first-child
{
    margin: 10px 0 20px 0;
}

/*About Style Settings ---      END --- Contact Style Settings ---      START*/

/*Contact Top Div*/

#contact_top_div
{
    display: grid;
    background-color: none;
    max-width: 980px;
    margin-top: -44px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: -1;
    position: relative;
}

#contact_top_div > h1
{
    background-color: var(--red_background_color);
    z-index: 4;
    max-width: 270px;
    max-height: 128px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border: none;
    padding: 24px 0 24px 16px;
    margin-top: 77px;
    margin-bottom: auto;
    text-transform: uppercase;
    word-spacing: 0.1rem;
    font-size: 2.04rem;
    line-height: 2.2rem;
    font-weight: 500;
}

#contact_top_div > img
{
    z-index: 2;
    max-width: 100%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#contact_top_div > #red_box_shadows
{
    z-index: 3;
    width: 290px;
    max-width: 100%;
    margin: 199px 0 0 -10px;
}

/*Contact Middle Div*/

#contact_middle_div 
{
    display: grid;
    grid-template-columns: 250px 230px 230px;
    margin: -403px auto 0 auto;
    z-index: 3;
    width: 980px;
    max-width: 100%;
    column-gap: 100px;
}

#contact_middle_div > div
{
    letter-spacing: 0;
}

#contact_middle_div > div > h5
{
    font-size: 1.45rem;
    line-height: 2.4rem;
    font-weight: normal;
}

#contact_middle_div > div > h6
{
    font-size: 1.05rem;
    line-height: 1.5rem;
    font-weight: normal;
}

#contact_middle_div_left
{
    padding-left: 70px;
}

#contact_middle_div_middle
{
    margin-left: -68px;
}

#contact_middle_div_right
{
    margin-left: -188px;
}

/*Contact Bottom Div*/

#contact_bottom_div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto 0 auto;
    width: 920px;
    max-width: 100%;
    column-gap: 24px;
}

#contact_bottom_map_div
{
    margin: 0 auto;
    max-width: 100%;
    column-gap: 10px;
}

#contact_bottom_map_div > iframe
{
    width: 405px;
    height: 240px;
    margin-left: 40px;
}

#contact_bottom_form_div
{
    width: 433px;
    max-width: 100%;
    margin: 0 auto 0 auto;
}

input, textarea
{
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
}

input:hover, textarea:hover
{
    border-color: black;
}

input[type=text], input[type=email], input[type=tel] 
{
    width: 410px;
    max-width: 100%;
    height: 35px;
    padding: 3px 3px 3px 24px;
}

textarea
{
    width: 410px;
    max-width: 100%;
    height: 118px;
    padding: 16px 10px 0 24px;
    resize: none;
    overflow: auto;
    text-overflow: ellipsis;
    text-align: left;
}

input[type=email], input[type=tel], textarea, button 
{
    margin-top: 6px;
}

input[type=email]:focus, input[type=email]:active
{
    outline: none;
    border-style: solid;
    border-color: var(--red_background_color);
    border-width: 3px;
}

#contact_submit_button > button
{
    background-color: var(--red_background_color);
    color: var(--main_white_text_color);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    text-align: center;
    padding: 10px 40px;
    margin-left: 290px;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0;
}

#contact_submit_button > button:hover
{
    background-color: var(--white_background_color);
    color: var(--black_text_color);
    cursor: pointer;
}

#contact_bottom_form_div > form > label
{
    display: none;
}

::placeholder
{
    font-weight: 700;
    color: var(--black_text_color);
    font-family: sans-serif;
    font-size: 0.8rem;
}

/*Contact Style Settings ---        END*/

/*-------------------- MEDIA-----QUERIES-----START --------------------*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{ /*Portrait mobile START (max 575.98px)*/
    
    /*Portrait Mobile General Style Settings ---        START*/

    body
    {
        /*background-color: red; COLOR TEST*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        max-width: 340px;
        margin: 0 auto;
    }

    .non_mobile_display_only
    {
        display: none;
    }

    #mobile_top_nav.mobile_display_only
    {
        display: block;
    }

    .current_page_active > a, .current_page_active
    {
        color:var(--red_text_color) !important;
    }

    a:hover, li:hover
    {
        color:var(--red_text_color) !important;
    }

    li, li > .drop_down_hover > div
    {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .mobile_list_links, #mobile_about_link_div, #header_contact_link
    {
        padding: 12px 0;
    }

    #header_about_link a
    {
        text-decoration: none;
    }

    #mobile_top_nav, #mobile_top_nav a
    {
        color: var(--black_text_color);
    }

    #mobile_top_nav > .button_drop_down_focus
    {
        display: block;
        text-decoration: none;
        border: none;
        padding: 12px 0 0 0;
        margin: 100px 0 4px 226px;
        text-align: center;
        font-size: 1.4rem;
        color: var(--black_text_color);
        min-width: 40px;
        min-height: 40px;
        width: 50px;
        height: 50px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        border-radius: 4px;
        cursor: pointer;
        /*font-size: 1.4rem;
        min-width: 40px;
        min-height: 40px;
        width: 50px;
        height: 50px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        border-radius: 4px;
        cursor: pointer;
        margin: 100px 0 2px 226px;
        padding: 12px 0 0 0;*/
        background-color:#ffffff;
    }

    .button_drop_down_focus .button_drop_down_content
    {
        visibility: hidden;
    }

    .button_drop_down_focus:focus .button_drop_down_content, .button_drop_down_focus:hover .button_drop_down_content, .button_drop_down_focus:active .button_drop_down_content
    {
        visibility: visible;
    }

    .button_drop_down_content > ul
    {
        background-color: var(--white_background_color);
        font-size: 1rem;
        color: var(--black_text_color);
        width: 230px;
        margin: -39px auto 0 -236px;
        padding: 20px 0;
        z-index: 10;
        list-style: none;
        border: none;
        border-radius: 3px;
    }

    .button_drop_down_content > ul > li > a, .button_drop_down_content > ul > li > div > a, #mobile_bottom_nav > ul > li > a
    {
        list-style: none;
        text-decoration: none;
        background-color: var(--white_background_color);
        font-size: 1rem;
        color: var(--black_text_color);
    }

    .drop_down_hover:hover #header_contact_link.drop_down_content > a, .drop_down_hover #header_contact_link.drop_down_content > a
    {
        background-color: var(--white_background_color);
        color: var(--black_text_color);
        text-decoration: none;
        padding: 0;
        margin-bottom: 8px;
    }

    .drop_down_hover:hover #header_contact_link.drop_down_content > a:hover
    {
        color:var(--red_text_color);
        background-color: inherit;
        margin-bottom: 8px;
        visibility: visible;
    }

    #mobile_bottom_nav
    {
        visibility: hidden;
    }


    /*#mobile_top_nav > button:focus > *
    {
        display: block;
        background-color: #ffffff;
        color: var(--black_text_color);
        width: 100vw;
        height: 100vw;
        margin: 0 auto;
        position: relative;
    }

    #mobile_top_nav > button > *
    {
        display: none;
    }*/



    /*Portrait Mobile General Style Settings ---        END*/

    /*Portrait Mobile Header Settings ---       START*/
    
    header
    {
        margin: 0 auto;
        max-width: 340px;
    }

    nav > button
    {
        cursor: pointer;
    }

    nav > button:focus
    {
        background-color: var(--red_background_color);
    }

    /*Portrait Mobile Header Settings ---       END*/ 

    /*Portrait Mobile Footer Settings ---       START*/

    footer
    {
        max-width: 280px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #footer_div_right
    {
        display: block;
        grid-row: 1 / span 1;
        margin: 0 auto;
        font-size: 2rem;
        word-spacing: 20px;
        padding: 30px 0 15px 0;
    }

    #footer_div_left
    {
        display: block;
        margin: 0 26px 0 0;
        letter-spacing: 0;
        word-spacing: 0;
        font-size: 0.70rem;
        line-height: 1.2rem;
        font-weight: 600;
    }

    /*Portrait Mobile Footer Settings ---       END*/

    /*Portrait Mobile Home Style Settings ---       START*/

    #home_top_div
    {
        margin: 0 auto;
        max-width: 280px;
    }

    #home_top_div > h1
    {
        max-width: 215px;
        max-height: 80px;
        margin: -54px 0 0 0;
        font-size: 1.35rem;
        line-height: 1.2rem;
        padding: 18px 0 0 16px;
    }

    #home_top_div > img
    {
        max-width: 280px;
        margin: 0 auto;
    }

    #home_top_div > #red_box_shadows
    {
        z-index: 3;
        width: 240px;
        margin: 26px 0 0 -16px;
    }

    #home_bottom_div 
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        row-gap: 10px;
        max-height: none;
        max-width: 280px;
        padding: 0;
        margin: -60px auto 0 auto;
        background-color: var(--red_background_color);
    }

    #home_bottom_div > #home_bottom_div_left, #home_bottom_div > #home_bottom_div_middle, #home_bottom_div > #home_bottom_div_right
    {
        margin: 0;
        padding: 0 10px;
    }
   
    #home_bottom_div > #home_bottom_div_left
    {
        padding-top: 10px;
    }

    #home_bottom_div > #home_bottom_div_right
    {
        grid-row: 2 / span 1;
    }

    #home_bottom_div > #home_bottom_div_middle
    {
        padding-bottom: 10px;
    }

    #home_bottom_div > #home_bottom_div_left > img, #home_bottom_div > #home_bottom_div_middle > img, #home_bottom_div > #home_bottom_div_right > img
    {
        max-width: 260px;
    }

    #home_bottom_div_left > h2, #home_bottom_div_middle > h2, #home_bottom_div_right > h2
    {
        font-size: 2.2rem;
        font-weight: normal;
        padding-top: 4px;
        padding-left: 10px;
    }

    #home_bottom_div_left > p, #home_bottom_div_middle > p, #home_bottom_div_right > p
    {
        font-size: 0.81rem;
        padding: 50px 86px 0 10px;
        line-height: 1.2rem;
    }

    #home_bottom_div_middle > p, #home_bottom_div_right > p
    {
        padding-right: 20px;
    }

    #home_bottom_div_left > a, #home_bottom_div_middle > a, #home_bottom_div_right > a
    {
        justify-self: center;
        font-size: 0.88rem;
        margin: 323px 0 auto 0;
        padding: 8px 78px;
    }

    #home_bottom_div_middle > a
    {
        padding-left: 88px;
        padding-right: 88px;
    }

    #home_bottom_div_middle > .mobile_display_only, #home_bottom_div_right > .mobile_display_only
    {
        display: inline;
    }

    #home_bottom_div_middle > .non_mobile_display_only, #home_bottom_div_right > .non_mobile_display_only
    {
        display: none;
    }

    /*Portrait Mobile Home Style Settings ---       END --- About Style Settings ---        START*/

    #about_top_div
    {
        margin: 0 auto;
        max-width: 280px;
    }

    #about_top_div > h1
    {
        max-width: 215px;
        max-height: 80px;
        margin: -54px 0 0 0;
        font-size: 1.35rem;
        line-height: 1.2rem;
        padding: 18px 0 0 16px;
    }

    #about_top_div > .mobile_display_only
    {
        display: inline;
    }

    #about_top_div > .non_mobile_display_only
    {
        display: none;
    }

    #about_top_div > img
    {
        max-width: 280px;
        margin: 0 auto;
    }

    #about_top_div > #red_box_shadows
    {
        z-index: 3;
        width: 240px;
        margin: 26px 0 0 -16px;
    }

    #about_bottom_div
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        max-height: none;
        max-width: 280px;
        padding: 0;
        margin: -64px auto 0 auto;
    }

    #about_bottom_div > div > div > h2
    {
        font-size: 1.7rem;
        letter-spacing: 0;
        word-spacing: 0;
        font-weight: normal;
        max-width: 214px;
    }

    #about_bottom_div > div > div > h3
    {
        font-size: 1.3rem;
        letter-spacing: 0;
        margin-top: -8px;
        font-weight: normal;
    }

    #about_bottom_div > div > .mobile_display_only
    {
        display: inline;
    }

    #about_bottom_div > div > .non_mobile_display_only
    {
        display: none;
    }

    #about_bottom_div > div > img
    {
        margin-top: 0;
        max-width: 100%;
    }

    #about_bottom_div > div > p
    {
        font-size: 0.85rem;
        font-weight: 500;
        line-height: 1.15rem;
    }

    #about_bottom_div > div > p:last-child
    {
        margin-bottom: 100px;
    }
  
    /*Portrait Mobile About Style Settings ---      END --- Contact Style Settings ---      START*/

    #contact_top_div
    {
        margin: 0 auto;
        max-width: 320px;
    }

    #contact_top_div > h1
    {
        max-width: 210px;
        max-height: 80px;
        margin: -54px 0 0 18px;
        font-size: 1.35rem;
        line-height: 1.2rem;
        padding: 16px 0 0 14px;
    }

    #contact_top_div > .mobile_display_only
    {
        display: inline;
    }

    #contact_top_div > .non_mobile_display_only
    {
        display: none;
    }

    #contact_top_div > img
    {
        width: 320px;
        max-width: 320px;
        margin: -70px auto 0 auto;
    }

    #contact_top_div > #red_box_shadows
    {
        z-index: 3;
        width: 240px;
        margin: 26px 0 0 2px;
    }

    #contact_middle_div
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        max-width: 280px;
    }

    #contact_middle_div_left
    {
        margin-top: -360px;
    }

    #contact_middle_div_middle
    {
        margin-top: -160px;
    }

    #contact_middle_div_right
    {
        margin-top: -22px;
    }

    #contact_middle_div_left, #contact_middle_div_middle, #contact_middle_div_right
    {
        padding: 0;
        margin-left: 16px;
    }

    #contact_middle_div > div > h5
    {
        font-size: 1.69rem;
    }

    #contact_middle_div > div > h6
    {
        font-size: 1.25rem;
    }

    #contact_bottom_div
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        max-width: 280px;
        margin-top: 95px;
    }

    #contact_bottom_div > div
    {
        display: grid;
        grid-template-rows: 2fr;
        margin: 0 auto;
        max-width: 280px;
    }

    #contact_bottom_map_div
    {
        grid-row: 2 / span 1;
        margin: 0 auto;
        max-width: 280px;
    }

    #contact_bottom_map_div > iframe
    {
        display: block;
        max-width: 260px;
        margin: 55px auto 0 auto;
    }

    #contact_bottom_form_div
    {
        grid-row: 1 / span 1;
        margin: 0 auto;
        max-width: 280px;
    }

    input[type=text], input[type=email], input[type=tel] 
    {
        display: block;
        max-width: 260px;
        margin: 0 auto 8px auto;
    }

    textarea
    {
        display: block;
        max-width: 260px;
        height: 129px;
        padding: 11.25px 10px 3px 24px;
        margin: 0 auto 0 auto;
    }

    #contact_submit_button > button
    {
        display: block;
        margin: 8px auto 8px auto;
        padding: 14px 110px;
    }

    /*Portrait Mobile Contact Style Settings ---        END*/

} /*Portrait mobile END (max 575.98px)*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{ /*Landscape mobile START (min 576px, max 767.98px)*/

    /*Landscape Mobile General Style Settings ---        START*/

    body
    {
        /*background-color: yellow; COLOR TEST*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        max-width: 660px;
        margin: 0 auto;
    }

    /*Landscape Mobile General Style Settings ---        END*/

    /*Landscape Mobile Header Settings ---       START*/
    
    .non_mobile_display_only
    {
        display: none;
    }

    #mobile_top_nav.mobile_display_only
    {
        display: block;
    }

    .current_page_active > a, .current_page_active
    {
        color:var(--red_text_color) !important;
    }

    a:hover, li:hover
    {
        color:var(--red_text_color) !important;
    }

    li, li > .drop_down_hover > div
    {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .mobile_list_links, #mobile_about_link_div, #header_contact_link
    {
        padding: 16px 0;
    }

    #header_about_link a
    {
        text-decoration: none;
    }

    #mobile_top_nav, #mobile_top_nav a
    {
        color: var(--black_text_color);
    }

    #mobile_top_nav > .button_drop_down_focus
    {
        display: block;
        text-decoration: none;
        border: none;
        padding: 24px 0 0 0;
        margin: 100px 0 4px 390px;
        text-align: center;
        font-size: 2.8rem;
        color: var(--black_text_color);
        min-width: 80px;
        min-height: 80px;
        width: 100px;
        height: 100px;
        border-color: #000000;
        border-radius: 4px;
        cursor: pointer;
        /*font-size: 1.4rem;
        min-width: 40px;
        min-height: 40px;
        width: 50px;
        height: 50px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        border-radius: 4px;
        cursor: pointer;
        margin: 100px 0 2px 226px;
        padding: 12px 0 0 0;*/
        background-color:#ffffff;
    }

    .button_drop_down_focus .button_drop_down_content
    {
        visibility: hidden;
    }

    .button_drop_down_focus:focus .button_drop_down_content, .button_drop_down_focus:hover .button_drop_down_content, .button_drop_down_focus:active .button_drop_down_content
    {
        visibility: visible;
    }

    .button_drop_down_content > ul
    {
        background-color: var(--white_background_color);
        font-size: 1rem;
        color: var(--black_text_color);
        width: 390px;
        margin: -75.5px auto 0 -396px;
        padding: 25px 0;
        position: relative;
        z-index: 10;
        list-style: none;
        border: none;
        border-radius: 6px;
    }

    .button_drop_down_content > ul > li > a, .button_drop_down_content > ul > li > div > a, #mobile_bottom_nav > ul > li > a
    {
        list-style: none;
        text-decoration: none;
        background-color: var(--white_background_color);
        font-size: 1rem;
        color: var(--black_text_color);
    }

    .drop_down_hover:hover #header_contact_link.drop_down_content > a, .drop_down_hover #header_contact_link.drop_down_content > a
    {
        background-color: var(--white_background_color);
        color: var(--black_text_color);
        text-decoration: none;
        padding: 0;
        margin-bottom: 8px;
    }

    .drop_down_hover:hover #header_contact_link.drop_down_content > a:hover
    {
        color:var(--red_text_color);
        background-color: inherit;
        margin-bottom: 8px;
        visibility: visible;
    }

    #mobile_bottom_nav
    {
        visibility: hidden;
    }

    /*#mobile_top_nav > button:focus > *
    {
        display: block;
        background-color: #ffffff;
        color: var(--black_text_color);
        width: 100vw;
        height: 100vw;
        margin: 0 auto;
        position: relative;
    }

    #mobile_top_nav > button > *
    {
        display: none;
    }*/

    header
    {
        margin: 0 auto;
    }

    nav > button
    {
        cursor: pointer;
    }

    nav > button:focus
    {
        background-color: var(--red_background_color);
    }

    /*Landscape Mobile Header Settings ---       END*/ 

    /*Landscape Mobile Footer Settings ---       START*/

    footer
    {
        max-width: 500px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    #footer_div_right
    {
        display: block;
        grid-row: 1 / span 1;
        margin: 0 auto;
        font-size: 2rem;
        word-spacing: 20px;
        padding: 30px 0 15px 0;
    }

    #footer_div_left
    {
        display: block;
        margin: 0 26px 0 0;
        letter-spacing: 0;
        word-spacing: 0;
        font-size: 0.70rem;
        line-height: 1.2rem;
        font-weight: 600;
    }

    /*Landscape Mobile Footer Settings ---       END*/

    /*Landscape Mobile Home Style Settings ---       START*/

    #home_top_div
    {
        margin: 0 auto;
        max-width: 500px;
    }

    #home_top_div > h1
    {
        max-width: 215px;
        max-height: 80px;
        margin: -68px 0 0 86.3px;
        font-size: 1.45rem;
        line-height: 1.4rem;
        padding: 16px 0 0 16px;
        transform: scale(1.8);
    }

    #home_top_div > img
    {
        max-width: 500px;
        margin: 0 auto;
    }

    #home_top_div > #red_box_shadows
    {
        z-index: 3;
        width: 240px;
        margin: 51px 0 0 69px;
        transform: scale(1.8);
    }

    #home_bottom_div 
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        row-gap: 10px;
        max-height: none;
        max-width: 500px;
        padding: 0;
        margin: -130px auto 0 auto;
        background-color: var(--red_background_color);
    }

    #home_bottom_div > #home_bottom_div_left, #home_bottom_div > #home_bottom_div_middle, #home_bottom_div > #home_bottom_div_right
    {
        margin: 0;
        padding: 0 10px;
    }
   
    #home_bottom_div > #home_bottom_div_left
    {
        padding-top: 10px;
    }

    #home_bottom_div > #home_bottom_div_right
    {
        grid-row: 2 / span 1;
    }

    #home_bottom_div > #home_bottom_div_middle
    {
        padding-bottom: 10px;
    }

    #home_bottom_div > #home_bottom_div_left > img, #home_bottom_div > #home_bottom_div_middle > img, #home_bottom_div > #home_bottom_div_right > img
    {
        max-width: 500px;
    }

    #home_bottom_div_left > h2, #home_bottom_div_middle > h2, #home_bottom_div_right > h2
    {
        font-size: 3.85rem;
        font-weight: normal;
        padding-top: 4px;
        padding-left: 10px;
    }

    #home_bottom_div_left > p, #home_bottom_div_middle > p, #home_bottom_div_right > p
    {
        font-size: 1.66rem;
        padding: 80px 130px 0 10px;
        line-height: 1.9rem;
    }

    #home_bottom_div_middle > p, #home_bottom_div_right > p
    {
        padding-right: 20px;
    }

    #home_bottom_div_left > a, #home_bottom_div_middle > a, #home_bottom_div_right > a
    {
        justify-self: center;
        font-size: 0.88rem;
        margin: 615px 0 auto 0;
        padding: 12px 180px;
    }

    #home_bottom_div_middle > a
    {
        padding-left: 186px;
        padding-right: 186px;
    }

    #home_bottom_div_middle > .mobile_display_only, #home_bottom_div_right > .mobile_display_only
    {
        display: inline;
    }

    #home_bottom_div_middle > .non_mobile_display_only, #home_bottom_div_right > .non_mobile_display_only
    {
        display: none;
    }

    /*Landscape Mobile Home Style Settings ---       END --- About Style Settings ---        START*/

    #about_top_div
    {
        margin: 0 auto;
        max-width: 500px;
    }

    #about_top_div > h1
    {
        max-width: 215px;
        max-height: 80px;
        margin: -68px 0 0 86.3px;
        font-size: 1.45rem;
        line-height: 1.4rem;
        padding: 16px 0 0 16px;
        transform: scale(1.8);
    }

    #about_top_div > .mobile_display_only
    {
        display: none;
    }

    #about_top_div > .non_mobile_display_only
    {
        display: inline; /*Exception here, mobile image resolution too low for landscape*/
    }

    #about_top_div > img
    {
        width: 500px;
        margin: 0 auto;
    }

    #about_top_div > #red_box_shadows
    {
        z-index: 3;
        width: 240px;
        margin: 50px 0 0 69px;
        transform: scale(1.8);
    }

    #about_bottom_div
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        max-height: none;
        max-width: 500px;
        padding: 0;
        margin: -64px auto 0 auto;
    }

    #about_bottom_div > div > div > h2
    {
        font-size: 2.3rem;
        letter-spacing: 0;
        word-spacing: 0;
        margin-left: 44px;
        margin-bottom: 16px;
        font-weight: normal;
        max-width: 214px;
        transform: scale(1.4);
    }

    #about_bottom_div > div > div > h3
    {
        font-size: 2rem;
        letter-spacing: 0;
        margin-top: -8px;
        margin-bottom: 4px;
        margin-left: 84px;
        font-weight: normal;
        transform: scale(1.4);
    }

    #about_bottom_div > div > .mobile_display_only
    {
        display: inline;
    }

    #about_bottom_div > div > .non_mobile_display_only
    {
        display: none;
    }

    #about_bottom_div > div > img
    {
        margin-top: 0;
        max-width: 500px;
    }

    #about_bottom_div > div > p
    {
        font-size: 0.85rem;
        font-weight: 500;
        line-height: 1.15rem;
    }

    #about_bottom_div > div > p:last-child
    {
        margin-bottom: 100px;
    }
  
    /*Landscape Mobile About Style Settings ---      END --- Contact Style Settings ---      START*/

    #contact_top_div
    {
        margin: 0 auto;
        max-width: 620px;
    }

    #contact_top_div > h1
    {
        max-width: 210px;
        max-height: 80px;
        margin: -70px 0 0 144.3px;
        font-size: 1.45rem;
        line-height: 1.4rem;
        padding: 12px 0 0 14px;
        transform: scale(1.8);
    }

    #contact_top_div > .mobile_display_only
    {
        display: inline;
    }

    #contact_top_div > .non_mobile_display_only
    {
        display: none;
    }

    #contact_top_div > img
    {
        width: 620px;
        max-width: 620px;
        margin: -160px auto 0 auto;
    }

    #contact_top_div > #red_box_shadows
    {
        z-index: 3;
        width: 240px;
        margin: 49px 0 0 128px;
        transform: scale(1.8);
    }

    #contact_middle_div
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        max-width: 500px;
    }

    #contact_middle_div_left
    {
        margin-top: -1000px;
    }

    #contact_middle_div_middle
    {
        margin-top: -650px;
    }

    #contact_middle_div_right
    {
        margin-top: -370px;
    }

    #contact_middle_div_left, #contact_middle_div_middle, #contact_middle_div_right
    {
        padding: 0;
        margin-left: 16px;
    }

    #contact_middle_div > div > h5
    {
        font-size: 3rem;
        line-height: 4rem;
    }

    #contact_middle_div > div > h6
    {
        font-size: 2rem;
        line-height: 2.4rem;
    }

    #contact_bottom_div
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        max-width: 500px;
    }

    #contact_bottom_div > div
    {
        display: grid;
        grid-template-rows: 2fr;
        margin: 0 auto;
        max-width: 500px;
    }

    #contact_bottom_map_div
    {
        grid-row: 2 / span 1;
        margin: 0 auto;
        max-width: 500px;
    }

    #contact_bottom_map_div > iframe
    {
        display: block;
        max-width: 500px;
        margin: 55px auto 0 auto;
    }

    #contact_bottom_form_div
    {
        grid-row: 1 / span 1;
        margin: 0 auto;
        max-width: 500px;
    }

    input[type=text], input[type=email], input[type=tel] 
    {
        display: block;
        max-width: 500px;
        margin: 0 auto 8px auto;
    }

    textarea
    {
        display: block;
        max-width: 500px;
        height: 129px;
        padding: 11.25px 10px 3px 24px;
        margin: 0 auto 0 auto;
    }

    #contact_submit_button > button
    {
        display: block;
        margin: 8px auto 8px auto;
        padding: 18px 186px;
    }

    /*Landscape Mobile Contact Style Settings ---        END*/

} /*Landscape mobile END (min 576px, max 767.98px)*/

/*Medium devices (tablets, 768px and up)*/ 
@media (min-width: 768px) and (max-width: 991.98px) 
{ /*Tablets START (min 768px, max 991.98px)*/

    body 
    {
        /*background-color: aqua; COLOR TEST*/ 
        max-width: 820px;
        margin: 0 auto; 
    }
    
    header
    {
        max-width: 780px;
    }

    footer
    {
        max-width: 840px;
        margin-top: 16px;
        transform: scale(0.75);
    }

    #footer_div_left
    {
        margin-left: 0;
    }

    #footer_div_right
    {
        margin-left: 180px;
    }

    #home_top_div
    {
        max-width: 780px;
    }

    #home_top_div > h1 
    {
        margin: 174px 0 auto -26.6px;
        transform: scale(0.8);
    }

    #home_top_div > #red_box_shadows
    {
        transform: scale(0.8);
        margin: 287px 0 0 -48px;
    }

    #home_bottom_div 
    {
        max-width: 780px;
        margin-top: -318px;
        transform: scale(0.8)
    }

    #home_bottom_div_left > p, #home_bottom_div_middle > p, #home_bottom_div_right > p
    {
        font-size: 0.64rem;
        line-height: 0.9rem;
    }

    #home_bottom_div_left > a, #home_bottom_div_middle > a, #home_bottom_div_right > a
    {
    margin-top: 308px;
    margin-bottom: auto;
    margin-right: 14px;
    font-size: 0.75rem;
    padding: 8px 16px;
    }

    #about_top_div
    {
        max-width: 780px;
    }

    #about_top_div > h1
    {
        margin: 47px 0 auto -26.6px;
        transform: scale(0.8)
    }

    #about_top_div > #red_box_shadows
    {
        transform: scale(0.76);
        margin: 155px 0 0 -48px;
    }

    #about_bottom_div
    {
        margin-top: -180px;
        max-width: 680px;
    }  

    #about_bottom_div > div > div > h2
    {
        font-size: 2.5rem;
    }

    #about_bottom_div > div > div > h3
    {
        font-size: 1.7rem;
    }

    #about_bottom_div > div > img
    {
        margin-top: 52px;
        max-width: 280px;
        height: 230px;
    }

    #about_bottom_div > div > p
    {
        font-size: 0.64rem;
        max-width: 364px;
        line-height: 1.05rem;
    }

    #about_bottom_div > div > p:first-child
    {
        margin: 6px 0 12px 0;
    }

    #contact_top_div
    {
        max-width: 780px;
    }

    #contact_middle_div
    {
        max-width: 780px;
        margin-top: -318px;
        margin-left: 6px;
        column-gap: 20px;
    }

    #contact_middle_div > div > h5
    {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #contact_middle_div > div > h6
    {
        font-size: 0.72rem;
        line-height: 1.2rem;
    }

    #contact_middle_div_middle
    {
        margin-left: -38px;
        grid-template-columns: 200px 170px 170px;
    }

    #contact_middle_div_right
    {
        margin-left: -112px;
    }

    #contact_bottom_div
    {
        max-width: 780px;
        margin: 36px auto 0 auto;
    }
   
    #contact_bottom_map_div
    {
        margin-left: 10px;
        max-width: 100%;
    }

    #contact_bottom_map_div > iframe
    {
        max-width: 300px;
        height: 240px;
        margin-left: 60px;
    }

    #contact_bottom_form_div
    {
        max-width: 350px;
        margin-left: -10px;
    }

    #contact_submit_button > button
    {
        margin-left: 190px;
    }

} /*Tablets END (min 768px, max 991.98px)*/

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 
{ /*Desktop START (min 992px, max 1199.98px)*/

    /*NO CHANGES REQUIRED*/

} /*Desktop END (min 992px, max 1199.98px)*/

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{ /*Desktop+ START (min 1200px)*/

    /*NO CHANGES REQUIRED*/

} /*Desktop+ END (min 1200px)*/